<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<!--
			solo copiar la sección de <connectionStrings>
			al App.config de su proyecto
    -->
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="SQL" connectionString="data source=FELIPETRON000X\SQLEXPRESS;Initial Catalog=GatoHotelero;User ID=sa;Password=abc123" providerName="System.Data.SqlClient" />
		<add name="Grupo03" connectionString="data source=YEBS\SQLEXPRESS;Initial Catalog=GatoHotelero2;persist security info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
	</connectionStrings>
	<appSettings>
		<!--

    -->

	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>